<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <h1>Hello {{ request.user.username }}</h1>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">LOG OUT</button>
            </form>
        {% else %}
            <h1>Hello World</h1>
            <a href="{% url 'accounts/login' %}">LOGIN</a>
        {% endif %}
        <h2>Recipe Book</h2>
        <ul>
            {% for recipe in object_list %}
            <li>
                <a href="{{ recipe.get_absolute_url }}">
                    {{ recipe }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>