<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        <h3>{{ object.name }}</h3>
        <small>Recipe Author: {{ object.author }}</small>
        <ul>
            {% for ingredient in object.ingredient.all %}
            <li>
                {{ ingredient.quantity }} : {{ ingredient.ingredient.name }}
            </li>
            {% endfor %}
        </ul>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form>
    </body>
</html>